FLASK_SECRET_KEY=change-this-for-shared-use
TICKET_DATABASE=instance/tickets.sqlite3

USM_SERVICE_MODE=mock
USM_EXECWF_URL=http://localhost:8087/vmwebjetty/services/api/execwf
USM_ACCESS_TOKEN=replace-with-access-token
USM_SERVICE=InterfaceTransactionStart
USM_USERNAME=replace-with-username
USM_PASSWORD=replace-with-password
USM_ENCRYPTED=N
USM_CLIENT=01
USM_INTERFACE_ACTION=VMEx_VM_UpdateInsertTicket
USM_IMPACT="1 Severe"
USM_URGENCY="1 Critical"
USM_REQUESTED_BY_EMAIL=norbert.nutzer@usu.com
USM_AFFECTED_EMAIL=norbert.nutzer@usu.com
USM_STATUS=IN_CRE
